*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex; 
}
.navlogo{
    height: 50px;
    width: 120px;
    margin-top: 2px;
}
.logo{
    background-image: url("images/logo.png") ;
    background-size: cover;
    height: 50px;
    width: 110px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid;
}
/* box 2 */
.add-1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    margin-top: 10px;
}
.add-2{
    font-size: 1rem;
    margin-left: 5px;
    margin-top: 2px;
}
.add-icon{
    display: flex;
    align-items: center;
}